<div class="container">
	<div class="row">
		<div class="col-xs-12">

			<p>
				users are: {{users}}
			</p>
		
		</div>

		<div class="col-xs-12">

			<input type="text" placeholder="Username" ng-model="data.username">

			<input type="password" placeholder="Password" ng-model="data.password">

			<button ng-click="login()">Login</button>

			<button ng-click="check()">check</button>
		</div>

		<div class="col-md-8 col-lg-6">
			lol
		</div>
		<div class="col-md-4 col-lg-6">
			also lol
		</div>
	</div>
</div>
